*.o
*.dSYM
*.csv
*.out
*.png
*.jpg
*.pyc
old/
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
libdarknet.*

.fuse*

# CMake build #
build/

# CLion #
cmake-build-debug/
.idea/

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# customed by Opt
trained_model
cmake_install.cmake
darknetConfig.cmake
CMakeCache.txt
CMakeFiles
install